.contactSection {
  text-align: center;
  width: 100%;
}

.card {
  background-color: #90ee90;
  border-radius: 5%;
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}

.card h3 {
  margin-top: 10px;
}

.form-group {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group textarea {
  width: 80%;
}

.contactBtn {
  background-color: #f7dc6f;
  margin: 30px 0 30px;
  width: 120px;
}
