.searchRidesharing {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
}

.searchContent {
  background-color: #90ee90;
  border-radius: 5%;
  margin: 30px 0;
  width: 100%;
  text-align: center;
}

.searchContent h3 {
  margin-top: 10px;
}

.searchForm {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.preferenceChoice {
  margin-bottom: 5px;
}

.addPreferenceBtn {
  margin-top: 10px;
  background-color: #27ae60;
}

.errorsList {
  margin-left: 5px;
  padding-inline-start: 20px;
}

.error {
  margin-top: 10px;
  color: #c0392b;
}

.btnSearch {
  background-color: #f7dc6f;
  margin: 20px 0 30px;
  width: 120px;
}

/*--------Responsive------------*/

@media (min-width: 768px) {
  .searchContent {
    max-width: 900px;
  }
  .searchForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
    padding: 10px 0 20px 30px;
  }
}
