.listRidesharing {
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.listCard {
  width: 100%;
}

.ridesharingCard {
  background-color: #90ee90;
  border-radius: 5%;
  margin-top: 10px;
}

.infoRidesharing {
  display: flex;
  flex-direction: column;
}

.infoDriver {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 5px;
  padding: 10px 20px;
}

.electricRide {
  width: 30px;
  height: 30px;
}

.infoDrive {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.ridesharing {
  display: flex;
  justify-content: space-around;
}

.otherInfo {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.departureDate {
  max-width: 100px;
  flex-wrap: wrap;
}

.detailForm {
  display: inline-block;
}

.detailBtn,
.newSearchBtn {
  background-color: #f7dc6f;
  margin: 30px 0 30px;
  width: 120px;
}
