.card {
  background-color: #90ee90;
  border-radius: 5%;
  width: 97%;
  margin: 1rem 0;
  text-align: center;
}

.card h3 {
  margin-top: 10px;
}

.form-group {
  margin: 30px 0;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #f7dc6f;
  margin: 0 0 30px;
}

footer {
  position: absolute;
  bottom: 0;
}
