.mentionSection {
  text-align: center;
}

div {
  margin: 20px 20px;
}

ul {
  list-style: none;
}

h2,
h3 {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  p {
    font-size: 20px;
  }
}
