.profilSection {
  width: 100%;
}

.titleDiv {
  text-align: center;
  margin-top: 30px;
}

.navBarProfil {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0;
}

.navBarProfil div {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navBarProfil a {
  color: black;
}

.compteBtn {
  border-right: solid 1px black;
  background-color: #27ae60;
}

.myRideBtn {
  background-color: #90ee90;
}

.userCard {
  background-color: #90ee90;
  border-radius: 5%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userCard div {
  margin: 20px 30px;
}

.picture {
  border-radius: 50%;
}

.userInfo p {
  margin-top: 10px;
}

.myCars {
  border-top: solid 1px black;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listCars {
  width: 100%;
}
.listCars li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.listCars div {
  width: 50px;
  text-align: center;
}

.addCarBtn {
  background-color: #f7dc6f;
  border: solid 1px black;
  text-align: center;
  width: 80px;
}

.addCarBtn a {
  color: black;
}

.newRide {
  background-color: #27ae60;
  border: solid 1px black;
  margin-top: 50px;
  text-align: center;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newRide a {
  color: black;
}
