.ridesharingDetail {
  width: 100%;
}

.errorInfo,
.rideInfo,
.participationInfo,
.driver,
.car,
.reviewList {
  background-color: #90ee90;
  border-radius: 10%;
  margin-top: 25px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.rideInfo {
  display: flex;
  flex-direction: column;
}

.rideAddress {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.rideAddress div {
  width: 130px;
}

.infoCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.availableSeats {
  width: 60px;
}

.infoCard div {
  width: 85px;
}

.participationInfo div {
  margin: 20px 0;
}

.ridesharingPrice {
  font-size: 20px;
}

.ridesharingPrice span {
  font-size: 40px;
  margin-right: 10px;
}

.participationInfo input {
  margin-top: 10px;
}

.btnSearch {
  margin-bottom: 10px;
  background-color: #f7dc6f;
  height: 25px;
  width: 120px;
}

.titleDriver,
.titleCar,
.reviewTitle {
  display: flex;
  margin: 5px 0 10px 5px;
}

.infoDriver {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin: 10px 0;
}

.carInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.carInfo div {
  text-align: start;
  width: 120px;
  margin: 20px 0;
}

.preferenceDriver h4 {
  text-decoration: underline;
}
.preferenceDriver ul {
  margin: 10px 0;
  text-align: start;
  padding-left: 40px;
}

.review {
  text-align: start;
  border: solid 1px black;
  padding: 5px;
  margin-bottom: 30px;
}

.redactorReview {
  display: flex;
  justify-content: space-between;
}

/* ---------------Responsive---------------- */

@media (min-width: 768px) {
  h3,
  .material-symbols-outlined {
    font-size: 26px;
  }

  p,
  li,
  label {
    font-size: 20px;
  }
  .ridesharingDetail {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colonnes égales */
    gap: 25px;
  }

  /* La div participationInfo prend toute la hauteur à droite */
  .participationInfo {
    grid-column: 2 / 3;
    grid-row: 1 / 4; /* S'étend sur 3 lignes */
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .participateForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .participationCard {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .btnSearch {
    height: 50px;
    width: 200px;
    font-size: 20px;
  }

  .ridesharingSeats {
    display: flex;
    flex-direction: column;
  }

  /* Les autres divs restent en colonne à gauche */
  .rideInfo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 0;
    row-gap: 30px;
  }

  .infoCard {
    column-gap: 20px;
  }

  .infoCard div {
    width: 20%;
  }

  .driver {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .car {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  /* Si présente, reviewList prend toute la largeur en bas */
  .reviewList {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
}
