.searchRidesharing {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
}

.searchContent {
  background-color: #90ee90;
  border-radius: 5%;
  margin: 30px 0;
  width: 100%;
  text-align: center;
}

.searchContent h3 {
  margin-top: 10px;
}

.searchForm {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.errorsList {
  margin-left: 5px;
  padding-inline-start: 20px;
}

.error {
  margin-top: 10px;
  color: #c0392b;
}

.btnSearch {
  background-color: #f7dc6f;
  margin: 20px 0 30px;
  width: 120px;
}

/* ---------------Responsive---------------- */

@media (min-width: 1024px) {
  .searchContent {
    max-width: 900px;
  }

  .searchForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
    justify-content: space-around;
    padding: 20px;
    font-size: 20px;
  }

  .searchForm div {
    width: 300px;
  }

  .searchForm div:last-child {
    align-items: center;
  }

  .searchForm input,
  .searchForm select {
    height: 30px;
  }

  .btnSearch {
    width: 300px;
    height: 50px;
    font-size: 20px;
  }
}
