.searchSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchContent {
  background-color: #90ee90;
  border-radius: 5%;
  margin: 30px 0;
  width: 80%;
  text-align: center;
}

.searchContent h3 {
  margin-top: 10px;
}

.searchForm {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

button {
  background-color: #f7dc6f;
  margin: 30px 0 30px;
  width: 120px;
}
