#Permet de metre en place le CI (Continus Integration)
name: CI EcfEcoRide

on: 
  push: 
    branches:
      -main
  pull_request:
    branches:
      -main
    

jobs:
  build:
    runs-on: ubuntu-latest

  steps:
    -name: Checkout du code
    uses: actions/checkout@v4
    
    -name: Configuration PHP
    uses: shivammathur/setup-php@v2
    with:
      php-version: '8.2' #La version de php que vous utilisez.
      extensions: pdo_mysql, mbstring #On ajoute les extensions nécessaire à notre projet.
      tools: composer #installe composer

    -name: Installation des dépendances composer
    run: composer install --now-interaction --prefer-dist --optimize-autoloader

    -name: Lint PHP files
    run: find . -type f -name "*.php" ! -path "./vendor/*" -exec php -1 {} \; | (! grep "Errors parsing")

    -name: Execution des tests PHPUnit
    run: vendor/bin/phpunit #Assurez vous que PHPUnit est configuré